/* @import para obtener la fuente en google fonts*/ 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1{
    color: black;
    font-family: "Ubuntu Mono", monospace;
}

li{
    color: black;
    font-family: "Ubuntu Mono", monospace;
}

pre{
    color: black;
    font-family: "Ubuntu Mono", monospace;
}